.homePage h1{
    background-color: aliceblue;
}

.button-container {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
  }
  
  .button {
    margin-left: 10px; /* Add spacing between buttons */
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Additional styles for better appearance */
  .button:hover {
    background-color: #2980b9;
  }
  
  .button:focus {
    outline: none;
  }
  

